
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --blue: #0085FF;
  --blue-700: #0068cc;
  --gray-50: #f9fafb;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-800: #1f2937;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --green-600: #16a34a;
  --green-700: #15803d;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --gray: #9E9E9E;
  --grey: #41474C;

  



}